<% layout("/layouts/boilerplate")%>
<body>
    <h3>edit listing </h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <input name="listing[title]" value="<%= listing.title %>" type="text">
    <br>
    <textarea name="listing[description]"><%= listing.description %></textarea>
   <br>
<input type="text" name="listing[image][url]" value="<%= listing.image.url %>">
<br>

    <input name="listing[price]" value="<%= listing.price %>" type="number">
    <br>
    <input name="listing[location]" value="<%= listing.location %>" type="text">
    <br>
    <input name="listing[country]" value="<%= listing.country %>" type="text">
    <br>
    <button type="submit">edit</button>
</form>

</body>
