<% layout('layouts/boilerplate') %>
<body>
    <h3>listing details</h3>
    <ul>
            <li><%=listing.title%></li>
            <li><%=listing.description%></li>
            <li> &#x20b9 
  <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %></li>
            <li><%=listing.location%></li>
            <li><%=listing.title%></li>
    </ul>
    <br>
    <a href="/listings/<%=listing._id%>/edit">edit this listing</a>
    <br>
    <form method ="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>delete this listing</button>
    </form>
</body>
